<html>
  <head>
    <title>Delete Tasks</title>
  </head>

  <body
    style="
      font-family: system-ui;
      width: 100%;
      height: 100%;
      background-color: #ededed;
      display: flex;
      justify-content: center;
      align-items: center;
    "
  >
    <div
      style="
        max-width: 20rem;
        width: 100%;
        background-color: white;
        padding: 2rem;
        border-radius: 0.5rem;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      "
    >
      <form method="post">
        {% csrf_token %}
        <p>Are you sure you want to delete "{{ object.title }}"?</p>
        <div
          style="
            margin-top: 2rem;
            margin-bottom: -1rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: end;
            gap: 1rem;
          "
        >
          <a href="/all_tasks" style="text-decoration-line: none">Cancel</a>
          <input
            type="submit"
            value="Confirm"
            style="
              background-color: red;
              color: white;
              border: none;
              border-radius: 0.25rem;
              padding: 0.5rem 1rem;
              font-size: 1rem;
              cursor: pointer;
            "
          />
        </div>
      </form>
    </div>
  </body>
</html>
